@font-face {
  font-family: "Ukrainian Barokko 2D";
  src: url("../assets/fonts/ukrainian-barokko-2d.woff2") format("woff2"),
    url("../assets/fonts/ukrainian-barokko-2d.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(3, 2, 2, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ukrainian Barokko 2D";
  font-size: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 1fr));
  max-width: 660px;
  gap: 30px;
  box-shadow: 0 2.5px 39.5px rgba(192, 189, 189, 0.25);
  border-radius: 24px;
  padding: 65px 100px;
}

.wrapper::before {
  content: "";
  position: absolute;
  border-radius: 24px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 800px;
  height: 840px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.4;
}

img {
  width: 36px;
  height: 36px;
}

div {
  text-align: center;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  outline: none;
  background: none;
}
.month {
  grid-column: span 5;
  font-family: "Ukrainian Barokko 2D"; 
  line-height: 32px;
  font-size: 56px;
  letter-spacing: 10px;
  color: #ecd81c;
}

.day-of-week {
  color: #00b8e6;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 36px;
  margin-bottom: 22px;
}

.today {
  background: #00b8e6;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.date-number {
  font-family: "Ukrainian Barokko 2D";
font-weight: 600;
  color: #ecd81c;
  letter-spacing: 10px;
  font-size: 38px;
}

@media (max-width: 890px) {
  .wrapper {
    max-width: 500px;
    gap: 15px;
    padding: 40px 60px;
  }
  .wrapper::before {
    width: 620px;
    height: 680px;
  }
  img {
    width: 30px;
    height: 30px;
  }
  .month {
    font-size: 40px;
    letter-spacing: 5px;
  }
  .day-of-week {
    font-size: 24px;
    letter-spacing: 5px;
    margin-bottom: 15px;
  }
  .date-number {
    font-size: 28px;
    letter-spacing: 5px;
  } 

}

@media (max-width: 768px) {
  .wrapper {
    max-width: 450px;
    gap: 10px;
    padding: 30px 40px;
  }
  .wrapper::before {
    width: 530px;
    height: 620px;
  }
  img {
    width: 26px;
    height: 26px;
  }
  .month {
    font-size: 32px;
    letter-spacing: 3px;
  }
  .day-of-week {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }
  .date-number {
    font-size: 24px;
    letter-spacing: 3px;
  }
}

@media (max-width: 585px) {
  .wrapper {
    max-width: 300px;
    gap: 5px;
    padding: 20px 30px;
    grid-template-columns: repeat(7, minmax(40px, 1fr));
  }

  .wrapper::before {
    width: 360px;
    height: 410px;
  }

  div {
    min-height: 40px;
  }
  .month {
    font-size: 24px;
    letter-spacing: 2px;   
  }

  img {
    width: 22px;
    height: 22px;
  }
  .day-of-week {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }
  .date-number {
    font-size: 20px;
    letter-spacing: 2px;
    height: 40px;
    width: 40px;
  }
  .today {
    width: 50px;
    height: 50px;
  }
}